data/*.mat
data/*/*.mat
data/*/*.npy
data/*/*.train
data/*/*.test
data/*/*.xlsx
data/CCVdataset/*.txt
!data/note.txt
!data/model_dt.csv
weights/*.h5
weights/*/*.h5
.idea/
utils/*.pyc__pycache__
*__pycache__*
bak*
MLSTM_FCN_class_orig.py
*.save
build
dist
deleteme
logs*
*egg*
*.npy
*.mat
*weights*
